registry=http://127.0.0.1:9001/repository/npmgroup/
electron_mirror=https://npmmirror.com/mirrors/electron/
disturl=https://npmmirror.com/mirrors/node/
node_mirror=https://npmmirror.com/mirrors/node/
//127.0.0.1:9001/repository/npmgroup/:_authToken=NpmToken.1efbf421-3679-30bf-900b-988d0257511a
//127.0.0.1:9001/repository/npmhosted/:_authToken=NpmToken.1efbf421-3679-30bf-900b-988d0257511a
msbuild-path=C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin\MSBuild.exe
msvs_version=2017
python=D:\develop\env\python\3.12\python.exe